node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

#Added for androids builds
android/app/build
android

# macOS
.DS_Store
*.apk

#Added for ios builds
ios
*.back